<html>
    <body>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Exam finished.</h1>
                        <h2>You got @ViewData["questoesAcertadas"] of a total of @ViewData["totalQuestoes"] questions in @ViewData["tempoFinalizado"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>