<html>
    <body>
        <p class="h3" style="color:black;">Management International Association</p>
        <blockquote class="blockquote">
            <p class="mb-0">International Institute of Management Certification (IIMC®) is ...</p>
        </blockquote>
        <p class="h3" style="color:black;">Growing Demand</p>
        <blockquote class="blockquote">
            <p class="mb-0">Management ...</p>
        </blockquote>
        <p class="h3" style="color:black;">Mission and Objectives</p>
        <blockquote class="blockquote">
            <p class="mb-0">Mission: </p>
            <p class="mb-0">Objective: Qualify and certify professionals to the job market to act in specific areas of management.</p>
        </blockquote>
    </body>
</html>