<html>
    <body>
        <p class="h3" style="color:black;">Step 1: Create an account</p>
        <blockquote class="blockquote">
            <p class="mb-0"><a asp-area="" asp-controller="Account" asp-action="Register">Create</a> a account with IIMC.</p>
        </blockquote>
        <p class="h3" style="color:black;">Step 2: Choose a certification</p>
        <blockquote class="blockquote">
            <p class="mb-0"><a asp-area="" asp-controller="Home" asp-action="Certification">Here</a> you can see the areas that we certificate. Choose the best certification for you.</p>
        </blockquote>
        <p class="h3" style="color:black;">Step 3: Training</p>
        <blockquote class="blockquote">
            <p class="mb-0">IIMC has study materials to get you prepare for exams. You also can do anytime the simulation with 20 questions to get prepare for exams and you have 1 hour to finish.</p>
        </blockquote>
        <p class="h3" style="color:black;">Step 4: Schedule</p>
        <blockquote class="blockquote">
            <p class="mb-0">When you see that you are prepared to do the exam, you can schedule your exam date. The exam has 80 questions and you have 4 hours to finish.</p>
        </blockquote>
    </body>
</html>