@model Simulacao.Models.Course

@{
    <script src="../js/ckeditorTopic/ckeditor.js"></script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @Html.ActionLink("Back", "listarCursos", "Course", new {}, new { @class="btn btn-default"})
                <p></p>
                @using (Html.BeginForm("CriarCurso", "Course", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form", enctype = "multipart/form-data" })) {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-12" asp-for="Image"></label>
                            <div class="col-sm-12">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                                    <input name="coursephoto" type="file" id="coursephoto" accept=".png,.jpg,.jpeg,.gif,.tif"> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a></div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" asp-for="CourseName"></label>
                        <div class="col-md-12">
                            <input asp-for="CourseName" type="text" class="form-control form-control-line">
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" asp-for="ProfessorName"></label>
                        <div class="col-md-12">
                            <input asp-for="ProfessorName" type="text" class="form-control form-control-line">
                            <span asp-validation-for="ProfessorName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" asp-for="Price"></label>
                        <div class="col-md-12">
                            <input asp-for="Price" type="text" class="form-control form-control-line">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" asp-for="About"></label>
                        <div class="col-md-12">
                            <textarea asp-for="About" id="About" class="form-control form-control-line"></textarea>
                            <script>
                                CKEDITOR.replace( 'About', {
                                    extraPlugins: 'dialogui,dialog,a11yhelp,dialogadvtab,basicstyles,bidi,blockquote,notification,button,toolbar,clipboard,panelbutton,panel,floatpanel,colorbutton,colordialog,templates,menu,contextmenu,copyformatting,div,resize,elementspath,enterkey,entities,popup,filetools,filebrowser,find,fakeobjects,flash,floatingspace,listblock,richcombo,font,forms,format,horizontalrule,htmlwriter,iframe,wysiwygarea,image,indent,indentblock,indentlist,smiley,justify,menubutton,language,link,list,liststyle,magicline,maximize,newpage,pagebreak,pastetext,pastefromword,preview,print,removeformat,save,selectall,showblocks,showborders,sourcearea,specialchar,scayt,stylescombo,tab,table,tableselection,undo,lineutils,widgetselection,widget,notificationaggregator,uploadwidget,wsc,btbutton,glyphicons,btgrid,bootstrapTabs,chart,niftytimers,crossreference,googledocs,toc',
                                    height: 400
                                } );
                            </script>
                            <span asp-validation-for="About" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button onclick="return confirm('Are you sure you want to add a new course?');" type="submit" class="btn btn-info">Add Course</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>